html {
	background-color: #ede8e7;
}

body {
  font-family: 'Fira Sans', sans-serif !important;
  height: 100vh;
}
.App {
  text-align: center;
}

.close-x {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 5;
}

.zipcode {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100px;
  padding: 10px;
}

.zipcode .card-content p {
  font-weight: bold;
}

.zipcode .card-content .searchField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchField {
  padding: 10px 0;
}

.searchField p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #797979;
}

.searchField input {
  margin-left: 10px;
}

.searchField .button {
  margin-left: 10px;
  background-color: #52a7e0;
  color: #fff;
  padding: 0 28px;
}

.map {
  margin-top: 10px;
}

.card-content-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
}

.card-content-gmap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 252px;
  margin-top: -35px;
}

.card-content-map h1 {
  margin-top: 5px;
  font-size: 30px;
  font-weight: bold;
}
